<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        ¡Mantén un estilo de vida saludable!
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="../../assets/img/nosotros1.png"></ion-img>
      <br>
      <p>En el CUAN ofrecemos servicios de
      nutrición a la población universitaria 
      y al público en general.</p>
      <p>Nuestros nutriólogos están altamente 
      capacitados para brindar atención a 
      personas de todas las edades con la 
      finalidad de mantener su salud mediante 
      un plan de alimentación.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>
        ¿Que hacemos?
      </ion-card-title>
    </ion-card-header>
    <ion-card-content text-justify>
      Evaluamos tus necesidades y realizamos 
      un plan nutricional correcto tomando en 
      cuenta tu edad, peso, estado de salud, 
      composición corporal, nivel de actividad 
      física e interacciones entre tus fármacos.                  
    </ion-card-content>
  </ion-card>
  <ion-button href="http://fen2.uaslp.mx/cuan/agenda/sesion/login.php" expand="block" color="verdeuno"><ion-icon name="calendar"></ion-icon> ¡Agenda tu cita!</ion-button>
</ion-content>
