<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        ¡Mantén un estilo de vida saludable!
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="../../assets/img/nosotros1.png"></ion-img>
      <br>
      <p>En el CUAN ofrecemos servicios de
      nutrición a la población universitaria 
      y al público en general.</p>
      <p>Nuestros nutriólogos están altamente 
      capacitados para brindar atención a 
      personas de todas las edades con la 
      finalidad de mantener su salud mediante 
      un plan de alimentación.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
