<ion-header>
  <ion-toolbar>
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>No comas menos...</ion-card-title>
      <ion-card-subtitle>¡Come bien!</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Nuestra dieta debe estar integrada 
          por los distintos grupos de alimentos 
          como son: verduras, frutas, cereales, 
          carbohidratos, proteínas y grasas.</p>          
      <p>En esta app encontrarás información 
          para saber cuantas porciones de cada 
          grupo alimenticio tienes que consumir 
          al día, te brindamos listas de super y 
          un programa de menús para que lo 
          lleves a cabo, para que posteriormente 
          lo hagas por ti mismo.</p>    
      <p>El plan de UNINUTRE está pensado 
          para jóvenes sanos de18 a 23 años. 
          Estás son recomendaciones 
          generales, es importante que acudas 
          al nutriólogo para una valoración 
          completa: CUAN: Niño Artillero #150, 
          Zona Universitaria, San Luis Potosí, 
          S.L.P. Tel. (444) 8262300 ext. 5062.</p>
    </ion-card-content>
  </ion-card>
  <ion-button color="success" expand="block" (click)="cerrar()"><ion-icon name="checkmark"></ion-icon> Entendido</ion-button>
</ion-content>
