// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.ion-color-azuluno {
    --ion-color-base: #73BEB5;
    --ion-color-base-rgb: 115, 190, 181;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #73BEB5;
    --ion-color-tint: #000000;
  }

.ion-color-azuldos {
    --ion-color-base: #609E95;
    --ion-color-base-rgb: 96, 158, 149;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #609E95;
    --ion-color-tint: #609E95;
  }

  .ion-color-amarillouno {
    --ion-color-base: #E2A01E;
    --ion-color-base-rgb: 226, 160, 30;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #E2A01E;
    --ion-color-tint: #E2A01E;
  }

.ion-color-amarillodos {
    --ion-color-base: #D69521;
    --ion-color-base-rgb: 214, 149, 33;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #D69521;
    --ion-color-tint: #D69521;
  }

  .ion-color-verdeuno {
    --ion-color-base: #6DA61E;
    --ion-color-base-rgb: 109, 166, 30;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #6DA61E;
    --ion-color-tint: #6DA61E;
  }

.ion-color-verdedos {
    --ion-color-base: #629C26;
    --ion-color-base-rgb: 98, 156, 38;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #629C26;
    --ion-color-tint: #629C26;
  }

  .ion-color-naranjauno {
    --ion-color-base: #E46828;
    --ion-color-base-rgb: 228, 104, 40;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #E46828;
    --ion-color-tint: #E46828;
  }

.ion-color-naranjados {
    --ion-color-base: #FC620E;
    --ion-color-base-rgb: 252, 98, 14;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #FC620E;
    --ion-color-tint: #FC620E;
  }

  .ion-color-fuerteuno {
    --ion-color-base: #3874AF;
    --ion-color-base-rgb: 56, 116, 175;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #3874AF;
    --ion-color-tint: #3874AF;
  }

.ion-color-fuertedos {
    --ion-color-base: #2D6A97;
    --ion-color-base-rgb: 45, 106, 151;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #2D6A97;
    --ion-color-tint: #2D6A97;
  }

  .ion-color-moradouno {
    --ion-color-base: #923998;
    --ion-color-base-rgb: 107, 37, 116;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #923998;
    --ion-color-tint: #923998;
  }

.ion-color-moradodos {
    --ion-color-base: #6B2574;
    --ion-color-base-rgb: 107, 37, 116;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #6B2574;
    --ion-color-tint: #6B2574;
  }