<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      UNI NUTRE
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-img src="../../assets/img/cuan-logo.png"></ion-img>
      </ion-col>
      <ion-col size="5" offset="3">
        <ion-img src="../../assets/img/uni-logo.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-text color="dark">
          <h3><b>Comer Sano</b></h3>
          <h4><b><i>¡Te hace bien!</i></b></h4>
        </ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-img src="../../assets/img/plato.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6">
          <ion-item (click)="ir(1)" color="azuluno" detail="false">
            <ion-img class="itemHome" src="../../assets/img/nosotros.png" style="height: 80px;"></ion-img>
          </ion-item>
          <ion-item (click)="ir(1)" color="azuldos" detail="false">
            <div style=" width: 100%; text-align: center;">
                <b>Nosotros</b>
            </div>
          </ion-item>
        </ion-col>
        <ion-col size="6">
            <ion-item (click)="ir(2)" color="amarillouno" detail="false">
              <ion-img class="itemHome" src="../../assets/img/hacemos.png" style="height: 80px;"></ion-img>
            </ion-item>
            <ion-item (click)="ir(2)" color="amarillodos" detail="false">
              <div style=" width: 100%; text-align: center;">
                  <b>Que hacemos</b>
              </div>
            </ion-item>
          </ion-col>       
      </ion-row>
      <ion-row>
          <ion-col size="6">
            <ion-item (click)="ir(3)" color="verdeuno" detail="false">
              <ion-img class="itemHome" src="../../assets/img/porcionario.png" style="height: 80px;"></ion-img>
            </ion-item>
            <ion-item (click)="ir(3)" color="verdedos" detail="false">
              <div style=" width: 100%; text-align: center;">
                  <b>Porcionario</b>
              </div>
            </ion-item>
          </ion-col>
          <ion-col size="6">
              <ion-item (click)="ir(4)" color="naranjauno" detail="false">
                <ion-img class="itemHome" src="../../assets/img/moderacion.png" style="height: 80px;"></ion-img>
              </ion-item>
              <ion-item (click)="ir(4)" color="naranjados" detail="false">
                <div style=" width: 100%; text-align: center;">
                  <b>Moderación</b>
                </div>
              </ion-item>
            </ion-col>       
        </ion-row>
        <ion-row>
            <ion-col size="6">
              <ion-item (click)="ir(5)" color="fuerteuno" detail="false">
                <ion-img class="itemHome" src="../../assets/img/super.png" style="height: 80px;"></ion-img>
              </ion-item>
              <ion-item (click)="ir(5)" color="fuertedos" detail="false">
                <div style=" width: 100%; text-align: center;">
                    <b>Lista de Super</b>
                </div>
              </ion-item>
            </ion-col>
            <ion-col size="6">
                <ion-item (click)="ir(6)" color="moradouno" detail="false">
                  <ion-img class="itemHome" src="../../assets/img/menus.png" style="height: 80px;"></ion-img>
                </ion-item>
                <ion-item (click)="ir(6)" color="moradodos" detail="false">
                  <div style=" width: 100%; text-align: center;">
                      <b>Menús</b>
                  </div>
                </ion-item>
              </ion-col>       
          </ion-row>
  </ion-grid>
</ion-content>
